<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the Bar Map</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="filter-form">
        <h1>🥂 Welcome to the Friday Bar Map!</h1>
        <h4>Below are the options to filter the bars based on your preferences. Click the 'filter' button to view the bars on a map. If you just want to see all bars, click 'filter'. Happy bar crawling 🍻</h4>
        <form action="/filter_bars" method="post">
            🍺 Filter by price per beer
            <select name="price">
                <option value="anything goes">Anything goes</option>
                <option value="high">High (≥ 15 kr) (</option>
                <option value="medium">Medium (9-14 kr)</option>
                <option value="low">Low (≤ 8 kr)</option>
            </select>
            💃 Filter by floor quality (scale 1-10):
            <input type="number" min="1" max="10" name="floor_quality">
            💗 Filter by love potential (scale 1-10):
            <input type="number" min="1" max="10" name="love_potential">
            🌈 Filter by hygge factor (scale 1-10):
            <input type="number" min="1" max="10" name="hygge_factor">
            🎉 Filter by party factor (scale 1-10):
            <input type="number" min="1" max="10" name="party_factor">
            ♿︎ Wheelchair access:
            <select name="wheelchair_access">
                <option value="dontcare">Doesn't matter</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <input type="submit" value="Filter">
        </form>
    </div>
</body>
</html>